e-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    background-color: $gray-200;
    border-radius: 50%;
    font-size: 1.25rem;
    
check {
       color: $success;
       background-color: shift-color($success, -80%);
    }
 }
 